/** main.scss */
@use 'global' as *;

.blog {
  background-color: $white;
  max-width: unset;
  padding: 5% 10%;

  .title {
    @extend %base-title;
  }

  .process-list {
    margin-top: 40px;
    margin-bottom: 36px;

    .process {
      margin-bottom: 25px;

      & > div {
        & > h3 {
          color: $dark-green-title;
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 500;
        }
        & > p {
          color: $dark-green-text;
          margin: 0;
        }
      }

      .process-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;

        img {
          height: 100%;
        }
      }
    }
  }

  button {
    height: auto;
    border-radius: 8px;
    padding: 12px;
    width: 180px;
    border: 0;
    margin-bottom: 15px;
  }

  .card {
    .card-body {
      .card-title {
        color: $gray;
      }

      .metadata {
        font-size: 14px;
        .category {
          color: $light-green;
        }

        .read-time {
          color: $light-gray;
        }
      }

      .card-text {
        font-size: 18px;
        line-height: 1.5em;
        min-height: 6em;
        color: $gray;
        .read-more {
          text-decoration: underline;
        }
      }
    }
  }

  .author {
    display: flex;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    p {
      color: $gray;
      margin-left: 8px;
      margin-top: 1rem;
      font-weight: 400;
      font-size: 14px;
    }
  }
}

@media (max-width: 575px) {
  .blog {
    .row {
      display: grid;
      .col {
        float: left;
        width: 90%;
        padding: 5% 0;
      }
    }
  }
}
