.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

li {
    display: inline;
}

.header > * {
    display: inline-block;
}

.logo {
    width: 15%;
}

.actions {

}

.navbar {

}