.header {
    margin: 40px 20px 0px 20px;
}

li {
    display: inline;
}

.header>* {
    display: inline-block;
}

.logo {
    width: 15%;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14pt;
}

.navbar {
    width: 70%;
    color: green;
    vertical-align: middle;
    text-align: center;
}

h1 {
    color: #025157;
}

b {
    color: #aa0000;
}

p {
    color: #8b8b8bcc;
}

button {
    color: #fff;
    background-color: #025157;
}

html {
    background-color: #fffbf7;
}